@using SocialPlatformsAPI.Data.Entities
@model SocialPlatform
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create New Platform";
}
<h1>Create</h1>
<div id="PlaceHolderHere"></div>
<form method="post" asp-action="AddPlatform">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add Social Platform</h2> 
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Key">Social Platform</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input asp-for="Key" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="Add" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-info w-100" data-toggle="ajax-modal" data-target="#addPostType" data-url=@Url.Action("AddPostType","SocialPlatformPostTypes")>Add Post Type</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
