@using SocialPlatformsAPI.Data.Entities
@using SocialPlatformsAPI.Dto
@model SocialPlatform
    
@{
    ViewData["Title"] = "Social Platforms Page";
}

<div class="text-center">
    
    <ul>
           <li>@Model.Key</li>
    </ul>
</div>
